<div [ngSwitch]="true">
  <div *ngSwitchCase="student" id="dashboard">
    <h2 class="dashboard-head">Dashboard</h2>
    <!-- <a href="/user-reports" class="btn btn-primary btn-elevated">Reports</a> -->

    <h3 class="box-head">Courses</h3>
    <hr />
    <div class="alert alert-danger" *ngIf="courses?.length <= 0">
      You have not registered for any courses.
    </div>
    <h3 *ngIf="PendUserCourses.length > 0">Pending Courses</h3>
    <table class="table table-hover" *ngIf="PendUserCourses.length > 0">
      <thead>
        <tr>
          <th class="table-head">Course Name</th>
          <th class="table-head">Instructor</th>
          <th class="table-head">Description</th>
          <th class="table-head"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of PendUserCourses">
          <td>{{ c.courseName }}</td>
          <td>{{ c.instructorFN }} {{ c.instructorLN }}</td>
          <td>{{ c.description }}</td>
          <td>
            <div class="btn-group float-right">
              <a href="/course/{{ c.courseID }}" class="btn btn-primary">View</a
              ><button class="btn btn-danger" (click)="cancel(c.courseID)">
                Cancel
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-sm-3 mb-3" *ngFor="let c of courses">
        <div class="card">
          <h5 class="card-header">{{ c.courseName }}</h5>
          <div class="card-body">
            <p class="card-text">{{ c.description }}</p>
            <a
              href="/course/{{ c.courseID }}"
              class="btn btn-primary btn-elevated"
              >View Course</a
            >
          </div>
        </div>
      </div>
    </div>

    <h3 class="box-head">My Active Projects</h3>
    <hr />
    <div class="alert alert-danger" *ngIf="projects?.length <= 0">
      You are not assigned any projects.
    </div>
    <div class="row">
      <div class="col-sm-3 mb-3" *ngFor="let p of projects">
        <div class="card">
          <h5 class="card-header">{{ p.projectName }}</h5>
          <div class="card-body">
            <h5 class="card-title">{{ p.courseName }}</h5>
            <p class="card-text">{{ p.description }}</p>
            <a
              routerLink="/project/{{ p.projectID }}"
              class="btn btn-primary btn-elevated"
              >View Project</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="instructor" id="dashboard">
    <h2 class="dashboard-head">Dashboard</h2>
    <!-- <a href="/instructor-reports" class="btn btn-primary btn-elevated">Reports</a> -->
    <app-navigation></app-navigation>

    <div>
      <h3 class="h3-inline">Courses</h3>
      <!-- This class will make the below button come next to it so they are on one line -->
      <a href="/create-course" class="btn btn-success">Create New Course</a>
    </div>
    <hr />
    <div class="alert alert-danger" *ngIf="courses?.length <= 0">
      You have not created any courses.
    </div>
    <div class="row">
      <div class="col-sm-3 mb-3" *ngFor="let c of courses">
        <div class="card">
          <h5 class="card-header">{{ c.courseName }}</h5>
          <div class="card-body">
            <p class="card-text">{{ c.description }}</p>
            <a
              href="/course/{{ c.courseID }}"
              class="btn btn-primary btn-elevated"
              >View Course</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <h3 *ngIf="courses.length > 0" class="box-head">Pending Requests to Courses</h3>
    <hr />
    <div class="alert alert-danger" *ngIf="PendInstrCourses?.length <= 0">
      No Pending Requests
    </div>
    <table class="table table-hover" *ngIf="PendInstrCourses.length > 0">
      <thead>
        <tr>
          <th class="table-head">Course Name</th>
          <th class="table-head">Student</th>
          <th class="table-head">Description</th>
          <th class="table-head"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of PendInstrCourses">
          <td>{{ c.courseName }}</td>
          <td>{{ c.studentFirstName }} {{ c.studentLastName }}</td>
          <td>{{ c.description }}</td>
          <td>
            <div class="btn-group float-right">
              <button
                class="btn btn-primary"
                (click)="register(c.courseID, c.studentID)"
              >
                Approve
              </button>
              <button
                class="btn btn-danger"
                (click)="cancelIns(c.courseID, c.studentID)"
              >
                Deny
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!--  -->
  </div>
</div>
