<!--#region Student Dashboard-->
<div [ngSwitch]="true">
  <div *ngSwitchCase="student" id="dashboard">
    <h2 class="dashboard-head">Dashboard</h2>
    <!-- <a href="/user-reports" class="btn btn-purple btn-elevated">Reports</a> -->
    <div>
      <h3 class="box-head rounded">Courses</h3>
      <!-- This class will make the below button come next to it so they are on one line -->
      <a href="/courses" class="btn btn-purple btn-courses rounded">Browse Courses</a>
      <a href="/eval" class="btn btn-warning btn-courses rounded">Evaluation Due</a>

    </div>
    <hr />
    <div class="alert alert-danger" *ngIf="courses?.length <= 0">
      You have not registered for any courses.
    </div>
    <h3 *ngIf="PendUserCourses.length > 0">Pending Courses</h3>
    <table class="table table-hover" *ngIf="PendUserCourses.length > 0">
      <thead>
        <tr>
          <th class="table-head">Course Name</th>
          <th class="table-head">Instructor</th>
          <th class="table-head">Description</th>
          <th class="table-head"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of PendUserCourses">
          <td>{{ c.courseName }}</td>
          <td>{{ c.instructorFN }} {{ c.instructorLN }}</td>
          <td>{{ c.description }}</td>
          <td>
            <div class="btn-group float-right">
              <button class="btn btn-purple rounded" (click)="GoToCourse(c.courseID)">
                View
              </button>
              <button class="btn btn-danger rounded" (click)="cancel(c.courseID)">
                Cancel
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-sm-3 mb-3" *ngFor="let c of courses">
        <div class="card">
          <h5 class="card-header">{{ c.courseName }}</h5>
          <div class="card-body">
            <p class="card-text">{{ c.description }}</p>
            <button class="btn btn-purple btn-sm rounded" (click)="GoToCourse(c.courseID)">
              View Course
            </button>
          </div>
        </div>
      </div>
    </div>

    <h3 class="box-head rounded">My Active Projects</h3>
    <hr />
    <div class="alert alert-danger" *ngIf="projects?.length <= 0">
      You are not assigned any projects.
    </div>
    <div class="row">
      <div class="col-sm-3 mb-3" *ngFor="let p of projects">
        <div class="card">
          <h5 class="card-header">{{ p.projectName }}</h5>
          <div class="card-body">
            <h5 class="card-title">{{ p.courseName }}</h5>
            <p class="card-text">{{ p.description }}</p>
            <div class="course-btns">
              <button class="btn btn-purple rounded" (click)="GoToProject(p.projectID)">
                View Project
              </button>
              <button class="btn btn-purple rounded" (click)="GoToEval(p.projectID)">
                View Eval
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--#endregion-->

<!--#region Instructor Dashboard-->
  <div *ngSwitchCase="instructor" id="dashboard">
    <h2 class="dashboard-head">Dashboard</h2>
    <div>
      <h3 class="box-head rounded">Courses</h3>
      <!-- This class will make the below button come next to it so they are on one line -->
      <a href="/create-course" class="btn btn-success btn-courses rounded">Create New Course</a>
      <a href="/past-courses" class="btn btn-purple btn-courses rounded">View Past Courses</a>
      <a href="/manage-evals" class="btn btn-purple btn-courses rounded">Manage Evaluations</a>
    </div>
    <hr />
    <div class="alert alert-danger" *ngIf="courses?.length <= 0">
      You have not created any courses.
    </div>
    <div class="row">
      <div class="col-sm-3 mb-3" *ngFor="let c of courses">
        <div class="card">
          <h5 class="card-header">{{ c.courseName }}</h5>
          <div class="card-body">
            <p class="card-text">{{ c.description }}</p>
            <button class="btn btn-purple btn-sm rounded" (click)="GoToCourse(c.courseID)">
              View Course
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <h3 *ngIf="courses.length > 0" class="box-head rounded">
      Pending Requests to Courses
    </h3>
    <hr />
    <div class="alert alert-danger" *ngIf="PendInstrCourses?.length <= 0">
      No Pending Requests
    </div>
    <div *ngIf="PendInstrCourses.length > 0">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="table-head">Course Name</th>
            <th class="table-head">Student</th>
            <th class="table-head">Description</th>
            <th class="table-head"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of PendInstrCourses | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{ c.courseName }}</td>
            <td>{{ c.studentFirstName }} {{ c.studentLastName }}</td>
            <td><i>{{ c.description }}</i></td>
            <td>
              <div class="btn-group float-right">
                <button class="btn btn-purple rounded" (click)="register(c.courseID, c.studentID)">
                  Approve
                </button>
                <button class="btn btn-danger rounded" (click)="cancelIns(c.courseID, c.studentID)">
                  Deny
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <!--  -->
  </div>
<!--#endregion-->

<!--#region Admin Dashboard-->
  <div *ngSwitchCase="admin" id="dashboard">
    <h2 class="dashboard-head">Dashboard</h2>
    <div>
      <h3 class="box-head rounded">Recent Users</h3>
      <a href="/users" class="btn btn-purple btn-courses rounded">Manage Users</a>
      <!-- Notification badge if there are users awaiting approval -->
      <span class="badge bg-danger" *ngIf="awaitingApprovalCount > 0">
        {{ awaitingApprovalCount }} User(s) Awaiting Approval
      </span>
    </div>
    <hr>
    <div class="alert alert-danger" *ngIf="recentUsers?.length <= 0">
      No users have been created.
    </div>
    <div class="row">
      <div class="col-sm-3 mb-3" *ngFor="let u of recentUsers">
        <div class="card">
          <h5 class="card-header">{{ u.firstName }} {{ u.lastName }}</h5>
          <div class="card-body">
            <p class="card-text"><button class="btn btn-purple btn-sm rounded" (click)="ViewProfile(u.userID)">View
                Profile</button></p>
          </div>
        </div>
      </div>
    </div>

    <h3 class="box-head rounded">Recent Courses</h3>
    <hr>
    <div class="alert alert-danger" *ngIf="recentCourses?.length <= 0">
      No courses have been created.
    </div>
    <div class="row">
      <div class="col-sm-3 mb-3" *ngFor="let c of recentCourses">
        <div class="card">
          <h5 class="card-header">{{ c.courseName }}</h5>
          <div class="card-body">
            <p class="card-text">{{c.firstName}} {{ c.lastName }} <br> {{ c.description }}</p>
            <button class="btn btn-purple btn-sm rounded" (click)="GoToCourse(c.courseID)">
              View Course
            </button>
          </div>
        </div>
      </div>
    </div>

    <h3 class="box-head rounded">Recent Projects</h3>
    <hr>
    <div class="alert alert-danger" *ngIf="recentProjects?.length <= 0">
      No projects have been created.
    </div>
    <div class="row">
      <div class="col-sm-3 mb-3" *ngFor="let p of recentProjects">
        <div class="card">
          <h5 class="card-header">{{ p.projectName }}</h5>
          <div class="card-body">
            <p class="card-text">{{ p.firstName}} {{ p.lastName }} <br> {{ p.description }}</p>
            <button class="btn btn-purple btn-sm rounded" (click)="GoToProject(p.projectID)">
              View Project
            </button>
            <button class="btn btn-purple btn-sm btn-spacing rounded" (click)="GoToCourse(p.courseID)">
              View Course
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion-->