/* give the card a hover effect */
.card {
  transition: all 0.1s ease-in-out;
  background-color: #f2f2f2;
}

.table-head {
  background-color: #F5EEF9;
}

.card-body {
  font-style: italic;
}

.card:hover {
  transform: scale(105%);
}

.h3-inline {
  vertical-align: middle;  /* To center the text inside the parent <></> https://stackoverflow.com/questions/31702017/moving-html-text-next-to-a-button */
  display: inline;  /* Makes the button after it move next to the text */
  letter-spacing: 3px;
  color: white;
  /* text-shadow: 2px 2px #6e4097, 2px 2px #6e4097, 3px 3px #6e4097; */
  /* box behind text */
  display: inline-block;
  box-shadow: -10px 10px 0 #492365;
  background-color: #6e4097;
}

.box-head {
  color: white;
  letter-spacing: 3px;
  padding: 5px 10px;
  /* box behind text */
  display: inline-block;
  box-shadow: -4px 4px 3px #492365;
  background-color: #6e4097;
}

.btn-courses {
  margin-left: 20px;
  margin-right: 5px;
}

.btn-spacing {
  margin-left: 10px;
}

.btn-courses .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  font-size: 0.75rem;
}

.course-btns{
  display: flex;
  justify-content: space-between;
}