/* give the card a hover effect */
.card {
  transition: all 0.1s ease-in-out;
}

.card:hover {
  transform: scale(105%);
}

/* Elevated Button Styles */
.btn-elevated {
  border: 2px solid currentColor;
  /* An outline using the text color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Initial shadow */
  transition: all 0.3s ease;
  /* For a smooth transition effect */

  /* On hover, make the button lift slightly and change shadow */
  &:hover {
    transform: translateY(-2px);
    /* Lift button slightly */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Increased shadow */
  }

  /* On active (click), push the button down a bit and adjust shadow */
  &:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
}