<!-- ng-cloak && user.type == student-->
<div id="courses">


  <h2>Register for Courses</h2>
  <hr>


    

  <!-- ng-model="search" ??? -->
  <form class="form-inline mb-3">
    <input class="form-control mr-3" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
  
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Instructor</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>


      <!--  ng-repeat="c in courses | filter: search" ng-if="c.isActive || config.showInactiveCourses" ng-class="{inactive: !c.isActive}" -->
      <tr *ngFor="let c of nonUserCourses">
        <td>{{c.courseName}}</td>
        <td>{{c.instructorID}}</td>
        <td>{{c.description}}</td>
        <td><button class="btn btn-success float-right" (click)="register(c.courseID)">Register</button></td>
      </tr>

      <tr *ngFor="let c of allUserCourses">
        <td>{{c.courseName}}</td>
        <td>{{c.instructorID}}</td>
        <td>{{c.description}}</td>
        <td><button class="btn btn-danger float-right" (click)="drop(c.courseID)">Drop</button></td>
      </tr>


    </tbody>
  </table>


</div>
