<!-- ng-cloak ng-if="loaded" -->

<div id="users">
    <div class="position-relative">
        <h3 class="mt-3">Users</h3>
        <!-- ng-model="search"  -->
        <input class="bottom-right-search" type="text" name="search" placeholder="Search..." />
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th class="text-center">Active</th>
                <th class="text-center d-none d-sm-table-cell">Type</th>
                <th class="text-center">User Controls</th>
            </tr>
        </thead>

        <!-- ng-repeat="u in users | orderObjectBy : 'firstName' | filter : search" -->
        <tbody>
            <tr *ngFor="let u of users" class="position-relative">
                <!--<td><a href="#"></a>First Name Last Name</td> User's first and last name -->

                <!--<tr *ngFor="let u of users" class="position-relative">-->

                <td><a href="#">{{ u.name }}</a></td> <!-- User's first and last name, the user will click this to go to the user's profile page (CURRENTLY BEING IMPLEMENTED) where they can delete and reset the password for the user (Need to see with the group if this is desired) -->
                <td>
                    <div class="full-width">{{ u.username }}</div> <!-- Username -->
                    <!--<div class="full-width">{{u}}</div> A copy of the username for some reason?-->
                    <!-- ng-model="u.type" ng-change="saveUser(u)" -->

                    <!--<select class="text-center d-sm-none mt-2">
                        <option value="S">Student</option>
                        <option value="I">Instructor</option>
                        <option value="A">Admin</option>
                    </select>-->
                </td>

                <td class="text-center">
                    <div class="pretty p-curve p-svg mr-0">
                        <!-- ng-model="u.isActive" ng-change="saveUser(u)" -->
                        <!-- If the user's account is active, check the checkbox https://codippa.com/check-uncheck-checkbox-conditionally-angular/ -->
                        <input type="checkbox" [checked]="u.isActive"/>
                        <div class="state p-primary">
                            <!-- Define a custom checkbox for the above input -->
                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                <path
                                    d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                    style="stroke: white;fill:white;"></path>
                            </svg>
                            <!-- Normally, these label tags would be placed around the <input /> tag above.  However because we are creating a custom checkbox, it is here?  Don't know the reason why. -->
                            <label></label>
                        </div>
                    </div>
                </td>

                <td class="text-center d-none d-sm-table-cell">
                    <!--  Jason Steadman     Notes: Removed the ability for a user to change their own type.-->
                    <!-- ng-model="u.type" ng-change="saveUser(u)" ng-disabled="$parent.user.userID === u.userID" -->
                    <select>
                        <option value="S" [selected]="u.type == 'student'">Student</option>
                        <option value="I" [selected]="u.type == 'instructor'">Instructor</option>
                        <option value="A" [selected]="u.type == 'admin'">Admin</option>
                    </select>
                </td>

                <td class="text-center d-none d-sm-table-cell">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" (click)="navToResetPassword('current','')">Reset Password</button> <!-- To be modified to accept the userID of the user for the row -->
                        <button type="button" class="btn btn-danger" (click)="DeleteUser(u)">Delete User</button>
                    </div>      
                </td>
            </tr>
            <!-- To be moved to the profile page for the selected user -->
        </tbody>
    </table>
</div>