h5, p {
    color:red;
}

.saveNotice {
    display: flex;
}

.form-select {
    color: #333;
}

.form-container {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: auto;
    margin: 0 auto;
}

.modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.btn-question {
    width: 150px;
    margin: auto;
    display: block;
}

.btn-close:hover,
.btn-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.questions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.question-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.question-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}