<div id="create-course">
    <h2 class="create-course-head">Create a new course</h2>
    <hr>

    <form [formGroup]="createCourseForm" (ngSubmit)="onSubmit()">
        <p style="color: red;">{{ errMsg }}</p>

        <div class="form-group">
            <input id="courseName" formControlName="courseName" type="text" class="form-control" name="courseName"
                placeholder="Course Name" ng-model="course.courseName">
        </div>
        <div class="form-group">
            <input id="description" formControlName="description" type="text" class="form-control" name="description"
                placeholder="Course Description" ng-model="course.description">
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-success btn-elevated">Create course</button>
            <a href="/dashboard" class="btn btn-danger btn-elevated">Cancel</a>
        </div>
    </form>
</div>