<div id="create-course">
    <h2>Create a new course</h2>
    <hr>

    <form [formGroup]="createCourseForm" (ngSubmit)="onSubmit()">
        <p class="errorText">{{ errMsg }}</p>

        <div class="form-group">
            <input id="courseName" formControlName="courseName" type="text" class="form-control" name="courseName"
                placeholder="Course Name" ng-model="course.courseName" required>
        </div>
        <div class="form-group">
            <input id="description" formControlName="description" type="text" class="form-control" name="description"
                placeholder="Course Description" ng-model="course.description" required>
        </div>

        <div class="form-group" *ngIf="currentUser?.type === 'admin'">
            <label for="instructorID">Instructor</label>
            <select id="instructorID" formControlName="instructorID" class="form-control" required>
                <option value="" disabled>Select an instructor</option>
                <option *ngFor="let instructor of instructors" [value]="instructor.userID">{{ instructor.firstName }} {{ instructor.lastName }}</option>
            </select>
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-success" [disabled]="!createCourseForm.valid">Create course</button>
            <a href="/dashboard" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>