<div id="create-project">
    <h2>Create a new project</h2>
    <hr>

    <form [formGroup]="createProjectForm" (ngSubmit)="onSubmit()">
        <p style="color: red;">{{ errMsg }}</p>

        <div class="form-group">
            <input id="projectName" formControlName="projectName" type="text" class="form-control" name="projectName"
                placeholder="Project Name" ng-model="project.projectName">
        </div>
        <div class="form-group">
            <input id="description" formControlName="description" type="text" class="form-control" name="description"
                placeholder="Project Description" ng-model="project.description">
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-success">Create project</button>
            <a href="/course/{{courseID}}" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>