<div id="course">
  <h2>{{course.courseName}}
    <div class="btn-group">
      <a href="" class="btn btn-secondary">Edit</a>
      <a href="/delete-course/{{course.courseID}}" class="btn btn-danger">Delete</a>
    </div>
  </h2>
  <hr>


  

  <!-- ng-model="search" ??? -->
  <div class="form-inline mb-3">
    <form class="mr-3">
      <input class="form-control mr-3" type="search" placeholder="Search Projects" aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  
    <a href="/create-project/{{course.courseID}}" class="btn btn-success">Create New Project</a>
  </div>
  

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Projects</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      
      <tr *ngFor="let p of projects">
        <td>{{ p.projectName }}</td>
        <td>{{ p.description }}</td>
        <td><a href="/project/{{p.projectID}}" class="btn btn-primary float-right">View Project</a></td>
      </tr>
    


    </tbody>
  </table>






  <!-- ng-model="search" ??? -->
  <form class="form-inline mb-3">
    <input class="form-control mr-3" type="search" placeholder="Search Students" aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
  

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Students</th>
      </tr>
    </thead>
    <tbody>

      <!--
      <tr *ngFor="let s of students">
        <td>{{ s }}</td>
      </tr>
    -->


    </tbody>
  </table>


</div>
