<div id="course">
  <h2 class="course-head">{{course.courseName}}
    <div [ngSwitch]="true">
      <div *ngSwitchCase="instructor">
        <div class="btn-group">
          <a href="/edit-course/{{course.courseID}}" class="btn btn-secondary">Edit</a>
          <a href="/delete-course/{{course.courseID}}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </h2>
  <hr>




  <!-- ng-model="search" ??? -->
  <div class="form-inline mb-3">
    <form class="mr-3" (ngSubmit)="searchProjects()">
      <input class="form-control mr-3" [(ngModel)]="projectSearchQuery" name="projectSearchQuery" type="text" placeholder="Search Projects" aria-label="Search">
      <button class="btn btn-primary btn-elevated" type="submit">Search</button>
    </form>
    <div [ngSwitch]="true">
      <div *ngSwitchCase="instructor">
        <a href="/create-project/{{course.courseID}}" class="btn btn-success">Create New Project</a>
      </div>
    </div>
  </div>

  <div [ngSwitch]="true">
    <div *ngSwitchCase="instructor">
      <div *ngIf="filteredProjects?.length > 0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="table-head">Searched Projects</th>
              <th class="table-head">Description</th>
              <th class="table-head"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of filteredProjects">
              <td>{{ p.projectName }}</td>
              <td class="desc">{{ p.description }}</td>
              <td>
                <div class="btn-group float-right">
                  <a href="/project/{{p.projectID}}" class="btn btn-primary">View</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="filteredProjects?.length <= 0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="table-head">All Projects</th>
              <th class="table-head">Description</th>
              <th class="table-head"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of projects">
              <td>{{ p.projectName }}</td>
              <td class="desc">{{ p.description }}</td>
              <td>
                <div class="btn-group float-right">
                  <a href="/project/{{p.projectID}}" class="btn btn-primary">View</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>

  <div [ngSwitch]="true">
    <div *ngSwitchCase="student">
      <div *ngIf="allUserFilteredProjects?.length > 0 || nonUserFilteredProjects?.length > 0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="table-head">Searched Projects</th>
              <th class="table-head">Description</th>
              <th class="table-head"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of allUserFilteredProjects">
              <td>{{ p.projectName }}</td>
              <td class="desc">{{ p.description }}</td>
              <td>
                <div class="btn-group float-right">
                  <a href="/project/{{p.projectID}}" class="btn btn-primary">View</a>
                  <button class="btn btn-danger" (click)="leave(p.projectID)">Leave</button>
                </div>
              </td>
            </tr>
  
            <tr *ngFor="let p of nonUserFilteredProjects">
              <td>{{ p.projectName }}</td>
              <td class="desc">{{ p.description }}</td>
              <td>
                <div class="btn-group float-right">
                  <a href="/project/{{p.projectID}}" class="btn btn-primary">View</a>
                  <button class="btn btn-success" (click)="join(p.projectID)">Join</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="allUserFilteredProjects?.length <= 0 && nonUserFilteredProjects?.length <= 0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="table-head">All Projects</th>
              <th class="table-head">Description</th>
              <th class="table-head"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of allUserGroups">
              <td>{{ p.projectName }}</td>
              <td class="desc">{{ p.description }}</td>
              <td>
                <div class="btn-group float-right">
                  <a href="/project/{{p.projectID}}" class="btn btn-primary">View</a>
                  <button class="btn btn-danger" (click)="leave(p.projectID)" *ngIf="p.isActive">Leave</button>
                </div>
              </td>
            </tr>
  
            <tr *ngFor="let p of nonUserGroups">
              <td>{{ p.projectName }}</td>
              <td class="desc">{{ p.description }}</td>
              <td>
                <div class="btn-group float-right">
                  <a href="/project/{{p.projectID}}" class="btn btn-primary">View</a>
                  <button class="btn btn-success" (click)="join(p.projectID)" *ngIf="p.isActive">Join</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- ng-model="search" ??? -->
  <!-- <form class="form-inline mb-3">
    <input class="form-control mr-3" type="search" placeholder="Search Students" aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
  </form> -->


  
  <app-instructor-reports></app-instructor-reports>
      <!--
      <tr *ngFor="let s of students">
        <td>{{ s }}</td>
      </tr>
    -->




</div>