/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  padding-bottom: 20px;
  background-color: whitesmoke;
}

a {
  color: #0B6552;
  text-decoration: underline;
}

.pretty input:checked~.state.p-primary label:after,
.pretty.p-toggle .state.p-primary label:after {
  background-color: #2c3e50 !important;
}

nav a {
  color: #18BC9C;
  text-decoration: none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.card-list-link {
  display: block;
}

.card-list-link:hover {
  background-color: whitesmoke;
}

/*User/Student Dashboard titles and course join requests*/
.dashboard-titles {
  border-bottom: 1px solid #cccccc;
  color: black;
  margin-bottom: 10px
}

/*User/Student Dashboard card*/
.box-part {
  background: white;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.box-part:hover {
  background: #2D3E50
}

.box-part:hover .fa,
.box-part:hover .title,
.box-part:hover .text,
.box-part:hover a {
  color: #FFF;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/* lg+ */
@media (min-width: 992px) {
  .description-textarea {
    height: 25px;
  }

  .hours-col {
    width: 60px;
  }

  .edited-icon {
    top: 4px;
    right: 4px;
  }
}

@media (max-width: 991px) {
  .description-textarea {
    height: 53px;
    line-height: 1.2;
  }

  .hours-col {
    width: 44px;
  }

  .edited-icon {
    top: 33px;
    left: 10px;
  }
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

@media screen and (max-width: 575px) {

  .header-checkbox {
    bottom: -13px;
  }
}


.navbar-text-color {
  color: #18BC9C;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.big-button {
  font-size: 30px;
  cursor: pointer;
  color: #2d3d50;
}

.small-button {
  font-size: 30px;
  cursor: pointer;
  color: #2d3d50;
  position: absolute;
  right: -8px;
  top: 0;
}

.card-button {
  font-size: 30px;
  cursor: pointer;
  color: #2d3d50;
  position: absolute;
  right: 3px;
  top: 1px;
}

.input-header {
  border: none;
  width: 100%;
}

.input-header-admin {
  border: 1px #d0d0d0 solid;
  border-radius: 4px;
}

.top-right-checkbox {
  position: absolute;
  bottom: 3px;
  right: -27px;
}

.header-checkbox {
  position: absolute;
  right: -15px;
}

.top-right-buttons {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.timeslot-input {
  width: 33%;
}

.full-width {
  width: 100%;
}

.is-edited {
  color: #fd7e14 !important;
}

.group-name {
  font-size: 1.2em;
}

.project-name {
  font-size: 1em;
}

.course-name {
  font-size: 1em;
}

.instructor-name {
  font-size: 1em;
}

.navbar-icon {
  color: #18BC9C;
  font-size: 25px;
  vertical-align: middle;
}

.notification-menu {
  display: inline-block
}

.notification-menu-button {
  background: none;
}

.notification-text {
  text-align: center;
  height: 30px;
}

.notification-badge {
  position: absolute !important;
  right: 0px;
  top: 25px !important;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
  min-width: 300px;
}

.clickable {
  cursor: pointer;
}

.inactive-user {
  background-color: whitesmoke;
}

.date-text {
  font-size: .9em;
}

.bottom-right-search {
  position: absolute;
  bottom: 0;
  right: 0;
}

.form-control {
  color: black;
}

.description-textarea {
  padding: 0px 3px;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e8e8e8;
  opacity: 1;
}

.form-control:focus {
  color: black;
}

.edited-icon {
  position: absolute;
  color: gray;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f8f8;
}

.delete-user-button {
  font-size: 20px;
  position: absolute;
  right: 50px;
  top: 5px;
  color: #E74C3C;
}

.sticky-column {
  position: sticky;
  left: 0px;
  background-color: whitesmoke;
}

.response-text {
  height: 100px;
  width: 100%;
  line-height: 1.1;
  border: none;
}

.response-select {
  height: 70px;
  width: 100%;
  border: none;
}

.select-placeholder {
  color: whitesmoke;
}

.pretty .state .check-label label:after,
.pretty .state .check-label label:before {
  top: 0px !important;
}

.input-group-text {
  color: black;
}

.custom-select {
  color: black;
}

.noDataFound {
  margin-top: -100%;
  margin-left: -7%;
}

.mt-6 {
  margin-top: 6% !important;
}

.mt-7 {
  margin-top: 7% !important;
}

.mt-8 {
  margin-top: 8% !important;
}


/* Navbar styles */
.spacer {
  flex: 1;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  color: #ffffff;
  border-color: #ffffff;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #6e4097;
  font-weight: 600;
  box-shadow: 0 3px 10px #492365;
}

.navbar img {
  margin: 0 16px;
  box-shadow: 0 3px 3px #492365;
  border-radius: 50%;
}

.navbar #usernamelbl {
  margin: 0 16px;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #6e4097;
}

.navbar-nav .nav-link.active {
  color: white;
  text-shadow: 0 3px 3px #492365;
}

.navOption {
  text-shadow: none;
}

.btn-purple {
  background-color: #492365;
  font-style: normal;
  color: white;
  border: 1px solid #492365;
  transition: all 0.3s ease;

  &:hover,
  &:disabled,
  &.disabled {
    color: white;
    background-color: #6e4097;
    border: 1px solid #634097;
  }

  /* On active (click), push the button down a bit and adjust shadow */
  &:active,
  &.active,
  &:active:focus,
  &:focus,
  &.focus {
    color: white;
    transform: translateY(1px);
    background-color: #492365;
    box-shadow: 0 3px 6px #492365;
    border: 2px solid #492365;
  }
}

/* Elevated Button Styles */
.btn-elevated {
  font-style: normal;
  border: 2px solid currentColor;
  /* An outline using the text color */
  box-shadow: 0 2px 8px #492365;
  /* Initial shadow */
  transition: all 0.3s ease;
  /* For a smooth transition effect */

  /* On hover, make the button lift slightly and change shadow */
  &:hover {
    transform: translateY(-2px);
    /* Lift button slightly */
    box-shadow: 0 3px 6px #492365;
    background-color: #6e4097;
    /* Increased shadow */
  }

  /* On active (click), push the button down a bit and adjust shadow */
  &:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px #492365;
  }
}

/* Error text for forms/page errors */
.errorText {
    color: red;
}

/* * {
  font-family:  Century Schoolbook, TeX Gyre Schola, serif;
} */