<!DOCTYPE html>
<html>

<body>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
</body>
<form>
  <div class="form-row ">
    <div class="form-group col-md-4">

      <input type="email" class="form-control" id="inputEmail4" placeholder="Old Password">
    </div>
    <div class="form-group col-md-4">

      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>

  <div class="form-group">
    <div class="form-group col-md-4">

      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>

  <div class="form-group col-md-4">

    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="form-group col-md-4">

    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="form-group col-md-4">

    <input type="text" class="form-control" id="inputZip">
  </div>
  </div>

  <button (click)="navToChangePass()" type="submit" class="btn btn-primary">Change Password</button>
</form>

</html>