<div class="container">
  <div class="row">
      <!-- This is the start/stop square in the first row, first column -->
      <div class="col-2 mx-3">
        <!--Date Row-->
        <div class="row"><h3>{{currDate}}</h3></div>
        <!--Time Row-->
        <div class="row"><h1>03:27:16</h1></div>
        <!--Start/Stop Buttons-->
        <div class="row">
          <div class="col-6">
            <button (click)="clockIn()" type="button" class="btn btn-success">Start</button>
          </div>
          <div class="col-6">
            <button (click)="clockOut()" type="button" class="btn btn-danger">Stop</button>
          </div>
        </div>
        <!--Submit Button-->
        <div class="row">
          <form>
            <div class="row mt-2">
              <input type="text" class="form-control">
              <div id="summary" class="form-text">What did you work on during this time?</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>      
        </div>
      </div>
    <!-- Table to show signed-in user's time history: first row, second column -->
    <div class="col-7">
      <div class="row">
        <div class="col-10">
          <h3>Activity</h3>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary">All Activity</button>
        </div>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Time In</th>
              <th scope="col">Time Out</th>
              <th scope="col">Total Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>10/21/2022 02:52:21 PM</td>
              <td>10/21/2022 06:20:37 PM</td>
              <td>03:27:16</td>
            </tr>
            <tr>
              <td>10/16/2022 07:34:21 AM</td>
              <td>10/16/2022 08:45:06 AM</td>
              <td>01:10:45</td>
            </tr>
            <tr>
              <td>10/15/2022 02:20:46 PM</td>
              <td>10/15/2022 03:06:07 PM</td>
              <td>00:45:21</td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
    <!-- This would be the graph of the signed-in user's time history -->
    <div class="col-1">
      <img src="Angular\src\assets\Images\myactivity.jpg" width="500" height="250">
    </div>
  </div>
  
  
  <div class="row">
    <!-- This is the whole team chart with member names and total time, second row, first square/column -->
    <div class="col-2 mx-3">
      <div class="row"><h3>My Team</h3></div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Total Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mike</td>
              <td>16:12:37</td>
            </tr>
            <tr>
              <td>Jamison</td>
              <td>11:47:54</td>
            </tr>
            <tr>
              <td>Dwight</td>
              <td>04:52:19</td>
            </tr>
            <tr>
              <td>Pam</td>
              <td>03:26:42</td>
            </tr>
          </tbody>
        </table>
        </div>
      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-primary">Reports</button>
        </div>
      </div>
    </div>
    <!-- The entire "History" item on the second row -->
    <div class="col-7">
      <div class="row">
        <div class="col-10">
          <h3>History</h3>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary">All History</button>
        </div>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Time In</th>
              <th scope="col">Time Out</th>
              <th scope="col">Total Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Dwight</td>
              <td>10/20/2022 04:26:53 PM</td>
              <td>10/20/2022 04:49:55 PM</td>
              <td>00:23:02</td>
            </tr>
            <tr>
              <td>Michael</td>
              <td>10/19/2022 08:45:21 PM</td>
              <td>10/19/2022 10:01:35 PM</td>
              <td>01:16:14</td>
            </tr>
            <tr>
              <td>Pam</td>
              <td>10/19/2022 07:21:45 AM</td>
              <td>10/19/2022 08:07:41 AM</td>
              <td>00:45:56</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- This would be the pie chart of the team progress -->
    <div class="col-1">
      <img src="Angular\src\assets\Images\group history.jpg" width="500" height="250">
    </div>
  </div>
</div>




<div id="project" ng-cloak>
  <div class="row position-relative">
    <!-- ng-model-options="{debounce: 750}" ng-change="saveProject()" ng-model="project.projectName" ng-readonly="$parent.user.type !== 'A' && $parent.user.type !== 'I'" -->
    <h4 class="mt-3 col-sm-9 col-12 float-left"><input class="input-header" type="text" name="projectName" [(ngModel)]="projectName"/></h4>
    <div></div>
    <!-- ng-if="$parent.user.type === 'A' || $parent.user.type === 'I'" -->
    <div class="mt-3 pretty p-switch p-slim col-sm-2 col-12 header-checkbox">
      <!--  ng-model="project.isActive" ng-change="saveProject()" -->
      <input type="checkbox"/>
      <div class="mt-2 state float-right">
        <label>Active</label>
      </div>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-sm-6 col-md-5 col-lg-4 col-12">
      <canvas id="projectHours" width="400" height="400"></canvas>
      <img class="noDataFound" id="noProjectData" src="noDataFound-310x310.png" alt="No Data Entered" width="400" height="400">
    </div>


    <div class="col-sm col-12">
      <div class="position-relative">
        <h5>Groups</h5>
        <!-- ng-click="createGroup()" -->
        <button (click)="createGroup()">
          <i class="fa fa-plus mt-2 mr-2 my-auto small-button" title="Create a new group."></i>
        </button>
          <!-- ng-if="$parent.user.type === 'A' || $parent.user.type === 'I'" -->
          <div class="float-right mt-4 mr-5 pretty p-switch p-slim top-right-checkbox">
            <!-- ng-model="config.showInactiveGroups" ng-change="updateChart()" -->
            <input type="checkbox" />
            <div class="float-left mr-3 mt-2 state">
              <label>Show Inactive</label>
            </div>
          </div>
      </div>

      <div class="card">
        <ul class="list-group list-group-flush">
          <!-- ng-repeat="g in project.groups | orderObjectBy :'groupName'" ng-if="g.isActive || config.showInactiveGroups" -->
          <li class="list-group-item p-0"><a class="card-list-link p-2" href="#">Group Name</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
