<h1 class="display-1" *ngIf="project">{{project.projectName}}
  <div class="btn-group">
    <a href="" class="btn btn-secondary">Edit</a>
    <a href="/delete-project/{{project.projectID}}" class="btn btn-danger">Delete</a>
  </div>
</h1>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div *ngIf="pieChartLabels.length != 0">
        <canvas baseChart 
          [type]="'pie'"
          [datasets]="pieChartDatasets"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
        </canvas>      
      </div>
    </div>
    <div class="col-6">
      <div class="row"><h3>My Team</h3></div>
      <div class="row">
        <table class="table table-light table-sm table-hover table-bordered border-dark">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Total Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let teamMate of totalTimeMap | keyvalue">
              <td>{{teamMate.key}}</td>
              <td>{{teamMate.value | totalTimePipe}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-9">
          <h3>Activity</h3>
        </div>
        <div class="col-3">
          <!--<button type="button" class="btn btn-primary">All Activity</button>-->
        </div>
      </div>
      <div class="row">
        <table class="table table-light table-sm table-hover table-bordered border-dark">
          <thead>
            <tr>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Total Time</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let activity of activities">
              <td>{{activity.timeIn | date:'medium'}}</td>
              <td>{{activity.timeOut | date:'medium'}}</td>
              <td>{{activity.timeOut - activity.timeIn | totalTimePipe}}</td>
              <td>{{activity.description}}</td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
    <div class="col-6">
        <!--Date Row-->
        <div class="row, center">
          <h3>{{currDate}}</h3>
        </div>
        <!--Time Row-->
        <div class="row, center">
          <h1>{{hours}}:{{minutes}}:{{seconds}}</h1>
        </div>
        <!--Start/Stop Buttons-->
        <div class="gap-2 d-md-flex justify-content-md-center">
            <button (click)="clockIn()" type="button" class="btn btn-success">Start</button>
        </div>
        <!--Submit Button-->
        <div class="gap-4 d-md-flex justify-content-md-center">
          <form (ngSubmit)="submit()">
            <div class="row mt-2">
              <input type="text" placeholder="Description" class="form-control" [formControl]="description">
            </div>
            <div class="d-grid d-md-flex justify-content-md-center">
              <button type="submit" class="btn btn-primary mt-2" [disabled]="this.description.value===''">Submit</button>
            </div>
          </form>
        </div>
        </div>
        </div>
        <div class="row">
          <div class="col align-self-center">
      <div class="row">
        <div class="col-10">
          <h3>History</h3>
        </div>
        <div class="col-2">
          <!--<button type="button" class="btn btn-primary">All History</button>-->
        </div>
      </div>
      <div class="row">
        <table class="table table-light table-sm table-hover table-bordered border-dark" style="max-height: 200px; overflow-y:scroll">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Time In</th>
              <th scope="col">Time Out</th>
              <th scope="col">Total Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of projectUsers">
              <td>{{user.firstName}} {{user.lastName}}</td>
              <td>{{user.timeIn| date:'medium'}}</td>
              <td>{{user.timeOut| date:'medium'}}</td>
              <td>{{user.timeOut - user.timeIn | totalTimePipe}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


