<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      formControlName="username">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">New Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="newPswd">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2" formControlName="confirm">
  </div>
  <button (click)="changedPass()" type="submit" class="btn btn-primary">Submit</button>
</form>