<form [formGroup]="resetForm">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleInputEmail1" textContent="{{sUsername}}"
            aria-describedby="emailHelp" formControlName="username" readonly>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">New Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="newPswd" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" formControlName="confirm" required>
    </div>
    <!-- Error divs for error messages -->
    <div *ngIf="requiredFieldsNotFilled" class="row mb-3 error">
        A password field has not been supplied
    </div>
    <div *ngIf="passwordMismatch" class="row mb-3 error">
        Your passwords do not match
    </div>
    <button (click)="onSubmit()" type="submit" class="btn btn-primary">Submit</button>
</form>