<div id="edit-profile">
    <h2>Edit Profile</h2>
    <hr>

    <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
        <p style="color: red;">{{ errMsg }}</p>

        <div class="form-group">
            <input id="pronouns" formControlName="pronouns" type="text" class="form-control" name="pronouns" placeholder="Preferred pronouns" ng-model="profile.pronouns">
        </div>
        <div class="form-group">
            <input id="bio" formControlName="bio" type="text" class="form-control" name="bio" placeholder="Personal Bio" ng-model="profile.bio">
        </div>
        <div class="form-group">
            <input id="contact" formControlName="contact" type="text" class="form-control" name="contact" placeholder="Contact Method" ng-model="profile.contact">
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-success">Done</button>
            <a href="/dashboard" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>