<div id="group" ng-cloak>
  <div class="row position-relative">
    <h4 class="mt-3 col-sm-9 col-12 float-left">
      <!-- ng-model-options="{debounce: 750}",
    ng-change="saveGroup()" ng-model="group.groupName",
    ng-class="{'input-header-admin': ($parent.user.type === 'A' || userInGroup() || $parent.user.type === 'I')}",
    ng-readonly="$parent.user.type !== 'A' && $parent.user.type !== 'I'"-->
      <input id="group_name" class="input-header" type="text" name="groupName" [(ngModel)]="groupName"/>
    </h4>

    <!-- if you are an admin or instructor decide if group is active -->
    <!-- ng-if="$parent.user.type === 'A' || $parent.user.type === 'I'" -->
    <div class="mt-3 pretty p-switch p-slim col-sm-2 col-12 header-checkbox">
      <!-- ng-model="group.isActive" ng-change="saveGroup()" -->
      <input type="checkbox" />
      <div class="mt-2 state float-right">
        <label>Active</label>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-6 col-md-5 col-lg-4 col-12">
      <canvas id="groupHours" width="400" height="400"></canvas>
      <img class="noDataFound" id="noData" src="noDataFound-310x310.png" alt="No Data Entered" width="400"
           height="400" />
    </div>

    <!-- leave or join group  -->
    <div class="col-sm col-12">
      <div class="position-relative">
        <h5>Users</h5>
        <!-- ng-if="!($parent.user.type === 'A')" -->
        <div class="float-right top-right-buttons">
          <!-- ng-click="joinGroup()", ng-if="(!userInGroup() || !group.users[$parent.user.userID].isActive) && $parent.user.userID !== course.instructorId"  -->
          <button class="btn btn-purple">
            Join
            Group
          </button>
          <!-- ng-click="leaveGroup()", ng-if="userInGroup() && group.users[$parent.user.userID].isActive" -->
          <button class="btn btn-danger">
            Leave Group
          </button>
        </div>
      </div>
      <!-- list the users -->

      <div class="card">
        <ul class="list-group list-group-flush">
          <!-- ng-repeat="u in group.users"
  ng-if="userInGroup() && u.userID === $parent.user.userID" -->
          <li class="list-group-item p-2">
            User First Name, User Last Name
            <!-- ng-if="!u.isActive" -->
            <span class="text-danger">(Left Group)</span>
          </li>
          <!-- ng-repeat="u in group.users | orderObjectBy :'firstName'" ng-if="u.userID !== $parent.user.userID || !userInGroup()" -->
          <li class="list-group-item p-2">
            User First Name, User Last Name
            <!-- ng-if="!u.isActive"  -->
            <span class="text-danger">(Left Group)</span>
          </li>
        </ul>

      </div>

      <!-- Eval buttons -->
      <div>
        <!-- ng-click="completeEval()" ng-if="userInGroup()" -->
        <button class="btn btn-purple mt-2">
          Complete
          Eval
        </button>
        <!-- ng-click="viewEvals()" ng-if="userInGroup() || $parent.user.type === 'A' || $parent.user.type === 'I'" -->
        <button class="btn btn-purple mt-2">
          View Evals
        </button>
      </div>
    </div>
  </div>
  <label id="lblName"> test </label>
  <!-- start or end time  -->
  <div class="row mt-4">
    <div class="col-12 mb-2">
      <!-- ng-click="startTime()"
    ng-if="userActiveInGroup() && !hasUnfinishedBusiness()" -->
      <button class="btn btn-success">
        Start Time
      </button>
      <!-- ng-click="endTime()"
      ng-if="userActiveInGroup() && hasUnfinishedBusiness()" -->
      <button class="btn btn-warning">
        End Time
      </button>
    </div>

    <!-- The current user times on top if they are in the group -->
    <!-- ng-if="($parent.user.type === 'A' || $parent.user.type === 'I') || (userInGroup() && u.userID === $parent.user.userID)"
     ng-repeat="u in group.users" -->
    <div class="col-lg mb-2">
      <div class="card position-relative">
        <div class="card-header font-weight-bold py-1 px-3">
          User First Name, User Last Name
          <!-- ng-if="!u.isActive" -->
          <span class="text-danger">(Left Group)</span>
        </div>
        <!--<i class="fa fa-plus mt-2 mr-2 my-auto card-button" ng-click="createTime(u.userID)" ng-if="isUser(u.userID)" title="Create a new time entry."></i>-->
        <div class="card-body p-0 ">
          <table class="full-width table-striped">
            <thead>
              <!-- Headers (time, in/out/description/hours)         -->
              <tr class="row no-gutters ml-3 mr-1">
                <th scope="col" class="col col-md-4 col-lg">
                  Time<span class="d-none d-lg-inline">
                    In
                  </span>
                </th>
                <th scope="col" class="col d-none d-lg-table-cell col-lg">Time Out</th>
                <th scope="col" class="col d-none d-sm-table-cell col-lg-6">Description</th>
                <th scope="col" class="hours-col">Hours</th>
                <th scope="col" class="hours-col"></th>
              </tr>
            </thead>

            <tbody>
              <!-- Blank row ready for data input  -->
              <!-- ng-if="isUser(u.userID)" -->
              <tr class="row no-gutters pt-1" style="border-top: 1px lightgray solid;">

                <!-- Empty time in  -->
                <td class="col col-md-4 col-lg pr-1 container">
                  <!-- if a super small screen use this for time in -->
                  <div class="row d-lg-none">
                    <span class="col-2 pr-0 text-right">In</span>
                    <!-- id="datetimepicker-blank-USER_ID-in" -->
                    <div class="input-group date timeslot col mb-1 pl-1" data-target-input="nearest">
                      <!-- data-target="#datetimepicker-blank-USER_ID-in"
                    ng-model="u.blank.timeIn"
                    ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                    ng-model-options="{updateOn: 'blur', debounce: 750}"
                    ng-change="createTimeFromBlank(u.userID)" -->
                      <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" />
                      <!-- data-target="#datetimepicker-blank-USER_ID-in" -->
                      <div class="input-group-append"
                           data-toggle="datetimepicker">
                        <div class="input-group-text px-2 py-1">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- if super tiny screen use this for time out-->
                  <div class="row d-lg-none">
                    <span class="col-2 pr-0 text-right">Out</span>
                    <!-- id="datetimepicker-blank-USER_ID-out" -->
                    <div class="input-group date timeslot col mb-1 pl-1"
                         data-target-input="nearest">
                      <!-- data-target="#datetimepicker-blank-USER_ID-out",
                    ng-model="u.blank.timeOut"
                    ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                    ng-model-options="{updateOn: 'blur', debounce: 750}"
                    ng-change="createTimeFromBlank(u.userID)"-->
                      <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" />
                      <!--  data-target="#datetimepicker-blank-USER_ID-out" -->
                      <div class="input-group-append"
                           data-toggle="datetimepicker">
                        <div class="input-group-text px-2 py-1">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- This is the div to log in time on a normal screen-->
                  <div class="d-none d-lg-block">
                    <!-- id="datetimepicker-blank-USER_ID-in-lg" -->
                    <div class="input-group date timeslot col mb-1 pl-1 pr-0" data-target-input="nearest">
                      <!-- data-target="#datetimepicker-blank-USER_ID-in-lg"
                    ng-model="u.blank.timeIn"
                    ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                    ng-model-options="{updateOn: 'blur', debounce: 750}"
                    ng-change="createTimeFromBlank(u.userID)" -->
                      <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" />
                      <!-- data-target="#datetimepicker-blank-USER_ID-in-lg" -->
                      <div class="input-group-append" data-toggle="datetimepicker">
                        <div class="input-group-text px-2 py-1">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>

                <!-- Time out -->
                <td class="d-none d-lg-table-cell col-lg">
                  <div>
                    <!-- id="datetimepicker-blank-USER_ID-out-lg" -->
                    <div class="input-group date timeslot col mb-1 pr-1 pl-0" data-target-input="nearest">
                      <!-- data-target="#datetimepicker-blank-USER_ID-out-lg"
                    ng-model="u.blank.timeOut"
                    ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                    ng-model-options="{updateOn: 'blur', debounce: 750}"
                    ng-change="createTimeFromBlank(u.userID)" -->
                      <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" />
                      <!-- data-target="#datetimepicker-blank-USER_ID-out-lg" -->
                      <div class="input-group-append"
                           data-toggle="datetimepicker">
                        <div class="input-group-text px-2 py-1">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>

                <!-- Description -->
                <td class="col pr-1 d-none d-sm-table-cell col-lg-6">
                  <!-- ng-model="u.blank.description"
                ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                ng-model-options="{updateOn: 'blur', debounce: 750}"
                ng-change="createTimeFromBlank(u.userID)" -->
                  <textarea class="full-width form-control date-text description-textarea" placeholder="Description"></textarea>
                </td>

                <!-- empty Space where hours will go -->
                <td class="pr-1 hours-col" style="position:relative;">
                  <!--<span style="position: absolute;">{{u.blank.hours = diffHours(u.blank.timeIn, u.blank.timeOut)}}</span>
                <i class="fa fa-pencil edited-icon" ng-if="u.blank.isEdited" title="This time entry has been edited."></i>-->
                </td>

                <!--tiny screen description box-->
                <td class="d-sm-none col-12 pr-4 mb-1">
                  <div class="row">
                    <span class="col-2 pr-0 text-right">Desc&nbsp;</span>
                    <!-- ng-model="u.blank.description"
                  ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                  ng-model-options="{updateOn: 'blur', debounce: 750}"
                  ng-change="createTimeFromBlank(u.userID)" -->
                    <textarea class="full-width form-control date-text description-textarea col"
                              placeholder="Description"></textarea>
                  </div>
                </td>
                <td class="px-2 hours-col" style="position:relative;">
                  <!--<span style="position: absolute;">{{u.blank.hours = diffHours(u.blank.timeIn, u.blank.timeOut)}}</span>
                <i class="fa fa-pencil edited-icon" ng-if="u.blank.isEdited" title="This time entry has been edited."></i>-->
                </td>
              </tr>



              <!-- table row  of already entered times repeated  -->
              <!-- ng-repeat="t in u.timecards | orderObjectBy :'timeslotID':true" -->
              <tr class="row no-gutters pt-1" style="border-top: 1px lightgray solid;">

                <!-- Time in area of already logged time -->
                <td class="col col-md-4 col-lg pr-1 container">
                  <!-- if a super small screen use this to display time in -->
                  <div class="row d-lg-none">
                    <span class="col-2 pr-0 text-right">In</span>

                    <div class="input-group date timeslot col mb-1 pl-1"
                         id="datetimepicker-TIMESLOT_ID-in" data-target-input="nearest">
                      <!-- data-target="#datetimepicker-TIMESLOT_ID-in"
                          ng-model="t.timeIn"
                          ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                          ng-model-options="{updateOn: 'blur', debounce: 750}"
                          ng-change="saveTime(u.userID, t.timeslotID)" -->
                      <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" />
                      <!-- data-target="#datetimepicker-TIMESLOT_ID-in" -->
                      <div class="input-group-append"
                           data-toggle="datetimepicker">
                        <div class="input-group-text px-2 py-1">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- if a super small screen use to display time out -->
                  <div class="row d-lg-none">
                    <span class="col-2 pr-0 text-right">Out</span>
                    <div class="input-group date timeslot col mb-1 pl-1"
                         id="datetimepicker-TIMESLOT_ID-out" data-target-input="nearest">
                      <!-- data-target="#datetimepicker-TIMESLOT_ID-out"
                    ng-model="t.timeOut"
                    ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                    ng-model-options="{updateOn: 'blur', debounce: 750}"
                    ng-change="saveTime(u.userID, t.timeslotID)" -->
                      <input class="full-width form-control datetimepicker-input py-0 px-1 date-text"
                             type="text" />
                      <!--  -->
                      <div class="input-group-append"
                           data-target="#datetimepicker-TIMESLOT_ID-out"
                           data-toggle="datetimepicker">
                        <div class="input-group-text px-2 py-1">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- this is used to show logged in time on normal screen size  -->
                  <div class="d-none d-lg-block">
                    <!--  -->
                    <div class="input-group date timeslot col mb-1 pl-1 pr-0"
                         id="datetimepicker-TIMESLOT_ID-in-lg" data-target-input="nearest">
                      <!-- data-target="#datetimepicker-TIMESLOT_ID-in-lg"
                        ng-model="t.timeIn"
                        ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                        ng-model-options="{updateOn: 'blur', debounce: 750}"
                        ng-change="saveTime(u.userID, t.timeslotID)" -->
                      <input class="full-width form-control datetimepicker-input py-0 px-1 date-text"
                             type="text" />
                      <!-- data-target="#datetimepicker-TIMESLOT_ID-in-lg" -->
                      <div class="input-group-append"
                           data-toggle="datetimepicker">
                        <div class="input-group-text px-2 py-1">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>

                <!-- Time out area of already logged time(if noraml sized screen) -->
                <td class="d-none d-lg-table-cell col-lg">
                  <div>
                    <div class="input-group date timeslot col mb-1 pl-0 pr-1"
                         id="datetimepicker-TIMESLOT_ID-out-lg" data-target-input="nearest">
                      <!-- data-target="#datetimepicker-TIMESLOT_ID-out-lg"
                    ng-model="t.timeOut"
                    ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                    ng-model-options="{updateOn: 'blur', debounce: 750}"
                    ng-change="saveTime(u.userID, t.timeslotID)" -->
                      <input class="full-width form-control datetimepicker-input py-0 px-1 date-text"
                             type="text" />
                      <!-- data-target="#datetimepicker-TIMESLOT_ID-out-lg" -->
                      <div class="input-group-append"
                           data-toggle="datetimepicker">
                        <div class="input-group-text px-2 py-1">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                </td>
                <!-- Descriptoin text area  of already logged time-->

                <td class="col pr-1 d-none d-sm-table-cell col-lg-6">
                  <!-- ng-model="t.description"
                    ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                    ng-model-options="{debounce: 750}" ng-change="saveTime(u.userID, t.timeslotID)" -->
                  <textarea class=" form-control date-text description-textarea" placeholder="Description"></textarea>
                </td>

                <!-- List hours put in  -->

                <td class="pr-1 hours-col d-none d-lg-block d-xl-block" style="position:relative;">
                  <span style="position: absolute;">Hours</span>
                  <!-- ng-if="t.isEdited" -->
                  <i class="fa fa-pencil edited-icon"
                     title="This time entry has been edited."></i>
                </td>

                <!--hidden only when on small -->
                <td class="d-sm-none col-12 pr-4 mb-1">
                  <div class="row">
                    <span class="col-2 pr-0 text-right">Desc&nbsp;</span>
                    <!-- ng-model="t.description"
                      ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                      ng-model-options="{debounce: 750}"
                      ng-change="saveTime(u.userID, t.timeslotID)" -->
                    <textarea class="full-width form-control date-text description-textarea col"
                              placeholder="Description"></textarea>
                  </div>
                </td>

                <td>
                  <div>

                    <div class="pr-1 hours-col d-lg-none d-md-block text-nowrap">
                      <span style="font-size: 12px;">Hours</span>
                      <!-- ng-if="t.isEdited" -->
                      <i class="fa fa-pencil edited-icon"
                         title="This time entry has been edited."></i>
                    </div>
                    <div class="pr-1 hours-col d-lg-none d-md-block text-nowrap">
                      <!-- ng-readonly="!isUser(u.userID) || (!u.isActive) || $parent.user.type === 'A' || $parent.user.type === 'I'"
                           ng-click="deleteTime(u.userID, t.timeslotID)" -->
                      <button class="btn btn-danger"
                              style="padding: .25rem .0rem;
                                     font-size: .875rem;
                                     line-height: .9;
                                     border-radius: .1rem;">
                        Delete
                      </button>
                    </div>
                  </div>
                </td>

                <td>
                  <!-- ng-readonly="!isUser(u.userID) || (!u.isActive) || $parent.user.type === 'A' || $parent.user.type === 'I'"
                    ng-click="deleteTime(u.userID, t.timeslotID)" -->
                  <button class="btn btn-danger btn-sm d-lg-block d-xl-block d-none">
                    Delete
                  </button>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- The rest of the users if the current user is in the group, or all the users if they aren't -->
    <!-- class="col-12 mb-2" ng-repeat="u in group.users | orderObjectBy :'firstName'"
       ng-if="(u.userID !== $parent.user.userID || !userInGroup()) && ($parent.user.type === 'S')" -->
    <div>
      <div class="card position-relative">
        <div class="card-header font-weight-bold py-1 px-3">
          User First Name, User Last Name
          <!-- ng-if="!u.isActive" -->
          <span class="text-danger">(Left Group)</span>
        </div>
        <div class="card-body p-0">
          <table class="full-width table-striped">
            <thead>
              <tr class="row no-gutters ml-3 mr-1">
                <th scope="col" class="col col-md-4 col-lg">
                  Time<span class="d-none d-lg-inline">
                    In
                  </span>
                </th>
                <th scope="col" class="col d-none d-lg-table-cell col-lg">Time Out</th>
                <th scope="col" class="col d-none d-sm-table-cell col-lg-6">Description</th>
                <th scope="col" class="hours-col">Hours</th>
              </tr>
            </thead>
            <tbody>
              <!-- ng-if="isUser(u.userID)" -->
              <tr class="row no-gutters pt-1" style="border-top: 1px lightgray solid;">
                <td class="col col-md-4 col-lg pr-1 container">
                  <div class="row d-lg-none">
                    <span class="col-2 pr-0 text-right">In</span>
                    <div class="input-group date timeslot col mb-1 pl-1"
                         id="datetimepicker-blank-USER_ID-in" data-target-input="nearest">
                      <!-- data-target="#datetimepicker-blank-USER_ID-in"
            ng-model="u.blank.timeIn"
                 ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                 ng-model-options="{updateOn: 'blur', debounce: 750}"
                 ng-change="createTimeFromBlank(u.userID)"
            -->
                      <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" />
                      <!-- data-target="#datetimepicker-blank-USER_ID-in" -->
                      <div class="input-group-append"
                           data-toggle="datetimepicker">
                        <div class="input-group-text px-2 py-1">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row d-lg-none">
                    <span class="col-2 pr-0 text-right">Out</span>
                    <div class="input-group date timeslot col mb-1 pl-1"
                         id="datetimepicker-blank-USER_ID-out" data-target-input="nearest">
                      <!-- data-target="#datetimepicker-blank-USER_ID-out"
                   ng-model="u.blank.timeOut"
                 ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                 ng-model-options="{updateOn: 'blur', debounce: 750}"
                 ng-change="createTimeFromBlank(u.userID)"
            -->
                      <input class="full-width form-control datetimepicker-input py-0 px-1 date-text"
                             type="text" />
                      <!--data-target="#datetimepicker-blank-USER_ID-out"-->
                      <div class="input-group-append"
                           data-toggle="datetimepicker">
                        <div class="input-group-text px-2 py-1">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-none d-lg-block">
                    <div class="input-group date timeslot col mb-1 pl-1 pr-0"
                         id="datetimepicker-blank-USER_ID-in-lg" data-target-input="nearest">
                      <!-- data-target="#datetimepicker-blank-USER_ID-in-lg"
               ng-model="u.blank.timeIn"
               ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
               ng-model-options="{updateOn: 'blur', debounce: 750}"
               ng-change="createTimeFromBlank(u.userID)" -->
                      <input class="full-width form-control datetimepicker-input py-0 px-1 date-text"
                             type="text" />
                      <!--data-target="#datetimepicker-blank-USER_ID-in-lg"-->
                      <div class="input-group-append"
                           data-toggle="datetimepicker">
                        <div class="input-group-text px-2 py-1">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="col d-none d-lg-table-cell col-lg">
                  <div>
                    <div class="input-group date timeslot col mb-1 pl-0 pr-1"
                         id="datetimepicker-blank-USER_ID-out-lg" data-target-input="nearest">
                      <!--
            data-target="#datetimepicker-blank-USER_ID-out-lg"
                 ng-model="u.blank.timeOut"
                 ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                 ng-model-options="{updateOn: 'blur', debounce: 750}"
                 ng-change="createTimeFromBlank(u.userID)"
          -->
                      <input class="full-width form-control datetimepicker-input py-0 px-1 date-text"
                             type="text" />

                      <!--data-target="#datetimepicker-blank-USER_ID-out-lg"-->
                      <div class="input-group-append"
                           data-toggle="datetimepicker">
                        <div class="input-group-text px-2 py-1">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="col pr-1 d-none d-sm-table-cell col-lg-6">
                  <!-- ng-model="u.blank.description"
            ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
            ng-model-options="{updateOn: 'blur', debounce: 750}"
            ng-change="createTimeFromBlank(u.userID)" -->
                  <textarea class="full-width form-control date-text description-textarea" placeholder="Description"></textarea>
                </td>
                <td class="pr-1 hours-col" style="position:relative;">
                </td>
                <td class="d-sm-none col-12 pr-4 mb-1">
                  <div class="row">
                    <span class="col-2 pr-0 text-right">Desc&nbsp;</span>
                    <!--
            ng-model="u.blank.description"
          ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
          ng-model-options="{updateOn: 'blur', debounce: 750}"
          ng-change="createTimeFromBlank(u.userID)"
        -->
                    <textarea class="full-width form-control date-text description-textarea col"
                              placeholder="Description"></textarea>
                  </div>
                </td>
              </tr>
              <!-- ng-repeat="t in u.timecards | orderObjectBy :'timeslotID':true" -->
              <tr class="row no-gutters pt-1" style="border-top: 1px lightgray solid;">
                <td class="col col-md-4 col-lg pr-1 container">
                  <div class="row d-lg-none">
                    <span class="col-2 pr-0 text-right">In</span>
                    <div class="input-group date timeslot col mb-1 pl-1"
                         id="datetimepicker-TIMESLOT_ID-in" data-target-input="nearest">
                      <!-- data-target="#datetimepicker-TIMESLOT_ID-in"
                           ng-model="t.timeIn" ng-readonly="!isUser(u.userID)"
                           ng-model-options="{updateOn: 'blur', debounce: 750}"
                           ng-change="saveTime(u.userID, t.timeslotID)" -->
                      <input class="full-width form-control datetimepicker-input py-0 px-1 date-text"
                             type="text" />
                      <!-- data-target="#datetimepicker-TIMESLOT_ID-in" -->
                      <div class="input-group-append"
                           data-toggle="datetimepicker">
                        <div class="input-group-text px-2 py-1">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row d-lg-none">
                    <span class="col-2 pr-0 text-right">Out</span>
                    <div class="input-group date timeslot col mb-1 pl-1"
                         id="datetimepicker-TIMESLOT_ID-out" data-target-input="nearest">
                      <!-- data-target="#datetimepicker-TIMESLOT_ID-out"
                            ng-model="t.timeOut" ng-readonly="!isUser(u.userID)"
                               ng-model-options="{updateOn: 'blur', debounce: 750}"
                               ng-change="saveTime(u.userID, t.timeslotID)"
                          -->
                      <input class="full-width form-control datetimepicker-input py-0 px-1 date-text"
                             type="text" />
                      <!-- data-target="#datetimepicker-TIMESLOT_ID-out" -->
                      <div class="input-group-append"
                           data-toggle="datetimepicker">
                        <div class="input-group-text px-2 py-1">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-none d-lg-block">
                    <!-- id="datetimepicker-TIMESLOT_ID-in-lg" -->
                    <div class="input-group date timeslot col mb-1 pl-1 pr-0"
                         data-target-input="nearest">
                      <!-- data-target="#datetimepicker-TIMESLOT_ID-in-lg"
                             ng-model="t.timeIn" ng-readonly="!isUser(u.userID)"
                             ng-model-options="{updateOn: 'blur', debounce: 750}"
                             ng-change="saveTime(u.userID, t.timeslotID)" -->
                      <input class="full-width form-control datetimepicker-input py-0 px-1 date-text"
                             type="text" />
                           <!--data-target="#datetimepicker-TIMESLOT_ID-in-lg"-->
                      <div class="input-group-append"
                           data-toggle="datetimepicker">
                        <div class="input-group-text px-2 py-1">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="d-none d-lg-table-cell col-lg">
                  <div>
                    <!-- id="datetimepicker-TIMESLOT_ID-out-lg" -->
                    <div class="input-group date timeslot col mb-1 pl-0 pr-1 "
                         data-target-input="nearest">
                      <!-- data-target="#datetimepicker-TIMESLOT_ID-out-lg"
                           ng-model="t.timeOut" ng-readonly="!isUser(u.userID)"
                           ng-model-options="{updateOn: 'blur', debounce: 750}"
                           ng-change="saveTime(u.userID, t.timeslotID)" -->
                      <input class="full-width form-control datetimepicker-input py-0 px-1 date-text "
                             type="text" />

                           <!--data-target="#datetimepicker-TIMESLOT_ID-out-lg"-->
                      <div class="input-group-append"
                           data-toggle="datetimepicker">
                        <div class="input-group-text px-2 py-1">
                          <i class="fa fa-calendar "></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="col pr-1 d-none d-sm-table-cell col-lg-6">
                  <!-- ng-model="t.description" ng-readonly="!isUser(u.userID)"
                      placeholder="Description" ng-model-options="{debounce: 750}"
                      ng-change="saveTime(u.userID, t.timeslotID)" -->
                  <textarea class="full-width form-control date-text description-textarea"></textarea>
                </td>
                <td class="hours-col" style="position:relative;">
                  <!-- <span style="position: absolute;">{{t.hours = diffHours(t.timeIn, t.timeOut)}}</span> -->
                  <span style="position: absolute;">Hours</span>
                  <!-- ng-if="t.isEdited" -->
                  <i class="fa fa-pencil edited-icon"
                     title="This time entry has been edited."></i>
                </td>
                <td class="d-sm-none col-12 pr-4 mb-1">
                  <div class="row">
                    <span class="col-2 pr-0 text-right">Desc&nbsp;</span>
                    <!-- ng-model="t.description" ng-readonly="!isUser(u.userID)"
                        placeholder="Description" ng-model-options="{debounce: 750}"
                        ng-change="saveTime(u.userID, t.timeslotID)" -->
                    <textarea class="full-width form-control date-text description-textarea col"></textarea>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>